**1. For 반복문을 이용하여, 1부터 입력받은 수 까지 제곱 합을 구하는 프로그램을 만드시오.**

Ex ) 1² + 2² + 3² + 4² + ...  + n²

In [1]:
num = int(input('제곱합을 구할 마지막 정수를 입력하세요: '))

제곱합을 구할 마지막 정수를 입력하세요: 3

In [8]:
def get_squre(num):
    sum1 = 0
    for i in range (1, num+1):
        sum1 = sum1 + (i**2)
    return sum1

get_squre(num)

14

**2. If 조건문을 이용하여, 어떤 수를 입력했을 때, 홀수와 짝수를 구분하는 프로그램을 만드시오.**

In [14]:
num2 = int(input('짝수 홀수를 판별할 정수를 입력하세요.: '))

if num2 % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

짝수 홀수를 판별할 정수를 입력하세요.: 8
짝수입니다.

**3. 어떤 리스트의 중복을 제거하는 함수(def)를 만드시오.**

Ex) 
    * 입력 : A= [1,2,3,4,4,4,5,7,7,7,7]  
    * 결과 :  [1,2,3,4,5,7]

In [15]:
A = [1,2,3,4,4,4,5,7,7,7,7]

In [16]:
def delete_dup(A):
    return list(set(A))

delete_dup(A)

[1, 2, 3, 4, 5, 7]

**4. 두 개의 이중 리스트를 Matrix(행렬)로 변환하여, 각 성분끼리 더하는 함수를(def) 만드시오.**

In [9]:
import numpy as np

list1 = [[1,2,3],[9,8,7],[3,4,2]]
list2 = [[2,3,4],[1,3,4,],[1,3,4]]

In [10]:
def get_matrix_sum(list1, list2):
    array1 = np.array(list1)
    array2 = np.array(list2)
    return array1+array2

get_matrix_sum(list1, list2)

array([[ 3,  5,  7],
       [10, 11, 11],
       [ 4,  7,  6]])

**5. Pandas 라이브러리를 이용하여, 아래와 같은 Series를 생성하시오.**

In [5]:
import pandas as pd

연도    2019
월        7
일       20
성함     이영호
소속      HR
Name: Person, dtype: object

In [14]:
df1 = pd.Series({'연도': 2019, '월': 7, '일': 20, '성함': '이영호', '소속': 'HR'})
df1

연도    2019
월        7
일       20
성함     이영호
소속      HR
dtype: object

In [ ]:
# 딕셔너리 -> 시리즈 -> 데이터프레임
# 데이터프레임 -> 시리즈 -> 딕셔너리

**6. 아래 리스트의 평균을 계산하시오.**

In [16]:
list1 = [1,1.2,3,4,2,2.2,3.4,0.8,20]

In [17]:
sum(list1)/len(list1)

4.177777777777777

**7. If 조건문을 이용하여, 특정 값을 입력했을 때, 해당 값이 3의 배수인지 아닌지 판별하는 함수(def)를 만드시오.**

In [18]:
num7 = int(input('3의 배수인지 판별할 정수를 입력하세요: '))

def get_3times(num):
    if num % 3 == 0:
        print('3의 배수입니다.')
    else:
        print('3의 배수가 아닙니다.')

get_3times(num7)

3의 배수인지 판별할 정수를 입력하세요: 12
3의 배수입니다.

**8. 연도를 입력했을 때, 윤년인지 평년인지 판별하는 함수(def)를 만드시오**

* 윤년의 조건 
    - 4로 나누어 떨어지는 년도는 윤년이다
    - 그 중 100으로 나누어 떨어지는 년도는 윤년이 아니다
    - 400으로 나누어 떨어지는 년도는 무조건 윤년이다

In [1]:
def get_leapyear(year):
    cond1 = (year%4 == 0)
    cond2 = (year%100 != 0)
    cond3 = (year%400 == 0)
    if cond1 & cond2:
        print('{}년은 윤년입니다.'.format(year))
    elif cond3:
        print('{}년은 윤년입니다.'.format(year))
    else:
        print('{}년은 평년입니다.'.format(year))
    
    
# if (cond1 & cond2) | cond3 : print('윤년입니다.')

In [3]:
year = int(input('윤년인지 판별할 연도를 입력하세요: '))
get_leapyear(year)

윤년인지 판별할 연도를 입력하세요: 2022
2022년은 평년입니다.

**9. 2_data.csv 를 Pandas를 이용해 불러와 데이터를 상위 5개 항목만 출력 하시오.**

In [5]:
import pandas as pd

In [6]:
df2 = pd.read_csv('2_data.csv')
df2.head(5)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

**10.해당 데이터의 index를 확인하시오**

In [7]:
df2.index

RangeIndex(start=0, stop=705571, step=1)

**11. 2_data.csv 데이터의 column을 확인하시오**

In [8]:
df2.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

**12. 2_data.csv 데이터의 구매수량에 대한 평균을 계산하시오.**

In [9]:
df2['구매수량'].mean()

1.138202689736349

**13. 2_data.csv 데이터의 "물품 대분류" 중, 축산물의 갯수를 계산하시오**

In [10]:
len(df2.loc[df2['물품대분류'] == '축산물'])

125387

In [11]:
df2['물품대분류'].value_counts()

채소       183235
축산물      125387
간식       111779
반찬        85960
수산        49853
양념/가루     33695
음료        31775
생활용품      25447
과실        19180
주곡        10290
잡곡        10228
서류        10002
건강         7142
주류         1029
기타          569
Name: 물품대분류, dtype: int64

**14 2_data.csv 데이터의 "공급주차"뒤에 차수를 붙이는 함수를(def) 만드시오.**

Ex ) 
    * 입력 : 1 
    * 결과 : 1주차

In [12]:
def put_week(x):
    return str(x) +'주차'
    

df2['공급주차'] = df2['공급주차'].apply(put_week)

df2.head(5)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1주차,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1주차,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1주차,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1주차,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1주차,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

**15. 2_data.csv 데이터의 "성별"을 replace 함수를 이용하여, '남성'은 1, '여성'은 0으로 데이터를 변환하시오**

In [13]:
df2['성별'] = df2['성별'].replace({'남': 1, '여': 0})

In [14]:
df2

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1주차,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,0.0,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1주차,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,0.0,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1주차,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,0.0,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1주차,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,0.0,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1주차,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,0.0,34.0,30대이하,4403,매장C,NaN,10:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705566,2018-06-30,토,6,26주차,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,0.0,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26주차,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,0.0,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26주차,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,0.0,63.0,60대,7466,매장A,NaN,14:37
705569,2018-06-30,토,6,26주차,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,0.0,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26주차,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,0.0,49.0,40대,1914,매장A,NaN,16:36

**16. 만약 본인이 동천마켓의 CEO라면 어떤 데이터 분석을 실시하겠습니까? 
5가지만 요약해서 작성해 주세요**